# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    # there are many log files in tests
    # TODO: seperate py files and log files
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-json
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-toml
# Python
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
# numpydoc
-   repo: https://github.com/Carreau/velin
    rev: 0.0.12
    hooks:
    - id: velin
      args: ["--write"]
# C++
-   repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.4
    hooks:
    -   id: clang-format
# Cython
-   repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.16.6
    hooks:
    -   id: cython-lint
    -   id: double-quote-cython-strings
# CMake
-   repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
