on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:
name: Test
jobs:
  testWithTox:
    name: Test with tox
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v5
      with:
        python-version: '3.10'
        architecture: 'x64'
    - run: pip install tox tox-gh-actions tox-uv
    - run: tox
    - uses: codecov/codecov-action@v4
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
